chapter11/force-app/main/default/flows/Lead_Finder_App-1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignEnteredEmailToVariable</name>
        <label>Assign Entered Email To Variable</label>
        <locationX>507</locationX>
        <locationY>99</locationY>
        <assignmentItems>
            <assignToReference>LeadEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Lead_By_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Find_whether_the_Record_Exists</name>
        <label>Find whether the Record Exists</label>
        <locationX>811</locationX>
        <locationY>268</locationY>
        <defaultConnectorLabel>Lead Record Not Matched</defaultConnectorLabel>
        <rules>
            <name>Found_Record_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Lead_By_Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Details</targetReference>
            </connector>
            <label>Found Record Exists</label>
        </rules>
    </decisions>
    <interviewLabel>Lead Finder App {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Finder App</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lookup_Lead_By_Email</name>
        <label>Lookup Lead By Email</label>
        <locationX>801</locationX>
        <locationY>119</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_whether_the_Record_Exists</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadEmail</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Matched_Lead</outputReference>
        <queriedFields>Email</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Website</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Details</name>
        <label>Details</label>
        <locationX>827</locationX>
        <locationY>451</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayLeadDetails</name>
            <fieldText>Lead found with Email {!LeadEmail} .The Salesforce Lead is {!Matched_Lead.Id}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_Lead_Using_Email</name>
        <label>Search Lead Using Email</label>
        <locationX>342</locationX>
        <locationY>248</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignEnteredEmailToVariable</targetReference>
        </connector>
        <fields>
            <name>Enter_Email</name>
            <dataType>String</dataType>
            <fieldText>Enter Lead Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Search_Lead_Using_Email</startElementReference>
    <variables>
        <name>LeadEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Matched_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
